site_name: ""

theme:
    name: material
    features:
        - content.code.copy
        - navigation.instant
        - navigation.tracking
    logo: assets/logo.png
    palette:
        # Palette toggle for automatic mode
        - media: "(prefers-color-scheme)"
          toggle:
              icon: material/brightness-auto
              name: Switch to light mode

        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          toggle:
              icon: material/brightness-4
              name: Switch to system preference

extra_css:
    - stylesheets/extra.css

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences

# Page tree
nav:
    - Getting Started: index.md
    - Authentication: auth.md
    - Question Answer Model: example.md
    - Python Library: python_library.md
    - Batching: batching.md
    - Error Handling: error_handling.md
    - Advanced: advanced.md
    - LLM:
          - __init__: LLM/__init__.md
          - __call__: LLM/__call__.md
          - add_data: LLM/add_data.md
          - improve: LLM/improve.md
          - submit_job: LLM/submit_job.md
          - check_job_status: LLM/check_job_status.md
          - get_job_results: LLM/get_job_results.md
          - cancel_job: LLM/cancel_job.md
          - sample: LLM/sample.md
    - API: api.md
